extends layout.pug

block content 
    .container
        h1 Create a note
        form.form(action="/create" method='post')
            label Title 
            input.input(type="text" name='title')

            label Description 
            textarea.input(name="description" type="text")  

            button.featured.btn Create a note