extends layout.pug 

block content 
    .container 
        .detail-content
            .detail-text
                h1.title #{ note.title }
                p.description #{ note.description }

            .detail-btn
                a.featured(href=`/notes/${ note.id }/edit`) Edit