extends layout.pug

block content
    .container
        h1.intro App for creating, deleting and updating notes.
        a.featured(href='/create') Create a note 
        p.text “This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service”.