doctype html
html(lang="en")
    head
        title Notes_00014068 app

    body 
        header.navbar
            h1 
                a(href='/') Notes App 
            nav.nav
                a(href='/notes') All notes 
                a(href='/archive') Archive
        
        block content
    