html {
    font-size: 24px;
    color: dimgray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: brown;
    transition: 0.5s;
}

.navbar {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid dimgray;
}

.nav a {
    display: inline-block;
    margin: 10px 20px;
}

/*homepage*/

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.intro {
    margin: 90px 0 40px;
    font-size: 2rem;
    max-width: 70%;
}

.featured {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: dimgray;
    color: white;
}

.featured:hover {
    background-color: brown;
    color: white;
}

.text {
    max-width: 1000px;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 100px;
}

/*create page*/

.form {
    width: 65%;
    margin-top: 50px;
}

.input {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 35px;
    padding: 10px 0;
    font-size: 0.8rem;
    font-family: inherit;
    color: inherit;
}

.btn {
    display: inline-block;
    border: none;
    font-size: 0.8rem;
}

/*notes page*/

.title {
    margin-top: 40px;
}

.note-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    padding: 20px 0;
    border-bottom: 1px solid dimgray;
}

.delete {
    padding: 5px 10px;
    font-size: 0.8rem;
}

/*detail page*/

.description {
    margin-top: 20px;
}

.error {
    display: inline-block;
    padding: 10px;
    border: 1px solid red;
    color: red ;
    margin-top: 15px;
}

.success {
    display: inline-block;
    padding: 10px;
    border: 1px solid green;
    color: green ;
    margin-top: 15px;
}